certifi==2020.12.5
chardet==4.0.0
Django==3.1.6
django-cors-headers==3.7.0
djangorestframework==3.12.2
idna==2.10
python-dotenv==0.17.0
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.3
psycopg2>=2.8
appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
cfgv==3.2.0
distlib==0.3.1
dj-config-url==0.1.1
filelock==3.0.12
identify==2.2.4
iniconfig==1.1.1
mccabe==0.6.1
nodeenv==1.6.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
virtualenv==20.4.6